<!DOCTYPE html>
<html data-ng-app="koodiApp" data-ng-controller="koodiController">
<head>
  <!-- bootstrap :: the  first 3 must be first -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

  <!-- angularjs -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>

  <!-- angular-ui-bootstrap (tooltip, popover)-->
  <!-- script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js"></script -->

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="rapida.css">

  <style>
  .linkbox {
    margin: 25px;
    padding: 40px 0px;
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid white;
  }
  .linkbox:hover {
    border: 1px solid rgba(84,241,254,1);
    box-shadow:0 0 30px rgba(107,243,254,1);
  }
  </style>

  <title>Koodistopalvelu</title>
</head>
<body class="container-fluid">

<div class="row">
  <div class="col-xs-10">
    <h3>Koodistopalvelu</h3>
  </div>
  <div class="col-xs-2 text-right">
    <!-- div>
      <span data-ng-show="!flagshow">
        <img src="" data-ng-src="{{flags[kieli]}}" width="24" data-ng-click="flagshow=!flagshow" alt="valittu kieli">
      </span>
      <span data-ng-show="flagshow" data-ng-repeat="l in ['FI','SV','EN']">
        <img src="" data-ng-src="{{flags[l]}}" width="24" data-ng-click="$parent.kieli=l; $parent.flagshow=false;" alt="valitse kieli">
      </span>
    </div -->
  </div>
</div>

<div class="row">
  <div class="col-sm-2 hidden-xs"></div>
  <div class="col-sm-8 col-xs-12">
    <div class="linkbox bgcolor5 color6 text-center" onclick="location.href='opintopolku.html'">Opintopolku</div>
    <div class="linkbox bgcolor5 color6 text-center" onclick="location.href='thl.html'">Kela/THL</div>
  </div>
  <div class="col-sm-2 hidden-xs">
  </div>
</div>

<div class="row">
  <div class="col-sm-4 hidden-xs text-left">
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <span class="color3">&copy; <a href="//rapida.fi">Rapida</a> 2017</span>
  </div>
  <div class="col-sm-4 hidden-xs text-right">
  </div>
</div>

<script>
  var koodiApp = angular.module('koodiApp', []);
  koodiApp.controller('koodiController', function($scope,$http)
  {
    //
    // ASETUKSET & ALUSTUS
    //
    
    $scope.kieli = 'FI';
    $scope.flags = {
      FI:"https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-finland2x.png",
      SV:"https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-sweden2x.png",
      EN:"https://cdn3.iconfinder.com/data/icons/142-mini-country-flags-16x16px/32/flag-united-kingdom2x.png"
    };
    $scope.baseuri = location.origin+location.pathname;
    
  });//-koodiController
</script>
</body>
</html><!-- /controller & /koodiApp -->
