<!DOCTYPE html>
<html data-ng-app="koodiApp" data-ng-controller="koodiController">
<head>
  <!-- bootstrap :: the  first 3 must be first -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

  <!-- angularjs -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
  <!-- ui-select files -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.14.1/select.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.14.1/select.min.css">
  <!-- clipboardjs -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <!-- angular-ui-bootstrap (tooltip, popover)-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js"></script>

  <script src="js/utils.js"></script>
  <script src="js/suomi.controller.js"></script>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="css/rapida.css">
  <link rel="stylesheet" hres="css/clipboard.css">

  <title>Koodistot</title>
</head>
<body class="container-fluid">

<div class="row">
  <div class="col-xs-8">
    <h3>Koodistot Suomi.fi</h3>
    <p>
    <a href="https://koodistot.suomi.fi/">{{i18n.source.text[lang]}}</a>
    </p>
  </div>
  <div class="col-xs-4 text-right">
    <div>
      <span data-ng-show="!flagshow">
        <img src="" data-ng-src="{{flags[lang]}}" width="24" data-ng-click="flagshow=!flagshow" alt="valittu kieli">
      </span>
      <span data-ng-show="flagshow" data-ng-repeat="l in ['fi','sv','en']">
        <img src="" data-ng-src="{{flags[l]}}" width="24" data-ng-click="$parent.lang=l; $parent.flagshow=false;" alt="valitse kieli">
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-7">
    <form>
      <ui-select data-ng-model="koodistot.selected" on-select="useKoodisto($select.selected.arvo)"
                 theme="bootstrap" style="min-width: 300px; max-width: 100%;">
        <ui-select-match class="ui-select-match" placeholder="{{i18n.form.search[lang]}}">
          {{ $select.selected.selite[lang] }}
          <span class="fa fa-spinner fa-spin" data-ng-show="koodistoLataa"></span>
        </ui-select-match>
          <ui-select-choices repeat="o in koodistot | filter: $select.search">
          {{ o.selite[lang] }}
        </ui-select-choices>
      </ui-select>
    </form>
  </div>
  <div class="hidden-xs col-xs-12 col-md-5">
    <!--
    Koodistoja {{koodistolkm}} kpl (<a data-ng-click="fetchKoodistot()">lataa uudelleen</a>)
    <select data-ng-model="source" data-ng-change="useSource(source)">
      <option value="tuotanto">Tuotanto</option>
    </select>
    <br>
    Valittu koodisto: versio={{koodistoversio}} tila={{koodistotila}} koodien lkm={{koodistokoodilkm}} koodiarvot {{i18n.codeisnumber[koodistoonkonumero][lang]}}
    -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="col-sm-1 hidden-xs" id="copyon">
      <button class="clip" data-clipboard-target="#copyarea"
        data-popover-trigger="'mouseenter'" data-popover-placement="right" data-uib-popover="Kopioi taulukko leikepöydälle"
        data-tooltip-trigger="'focus'" data-tooltip-placement="top" data-uib-tooltip="Kopioitu!"
        data-ng-click="clipcopy=true" data-ng-mouseleave="clipcopy=false">
        <span class="glyphicon glyphicon-copy"></span>
      </button>
    </div>
    <div class="col-sm-11 hidden-xs">
      <input type="text" id="copyuri" value="{{baseuri}}{{query}}{{toURIParam(search)}}{{(query && lang!='fi')?'&lang='+lang:''}}" class="col-xs-9 col-lg-8">
      <button class="clip" data-clipboard-target="#copyuri"
        data-popover-trigger="'mouseenter'" data-popover-placement="right" data-uib-popover="Kopioi URI"
        data-tooltip-trigger="'focus'" data-tooltip-placement="top" data-uib-tooltip="Kopioitu!" data-tooltip-popup-close-delay="900">
        <span class="glyphicon glyphicon-copy"></span>
      </button>
      <a href="#" data-ng-href="{{baseuri}}{{query}}{{toURIParam(search)}}{{(query && lang!='fi')?'&lang='+lang:''}}"><span class="fa fa-external-link"></span></a>
    </div>
    <!-- ei uutta row:ta, tai edes col:ia jotta taulukko on sisaruksena kopiointipainikkeelle! uusi div tiputtaa uudeksi riviksi -->
    <span id="copyarea"><table style="width:96%" class="table table-striped table-condensed">
      <thead>
        <tr class="color2">
          <th style="width:1%; vertical-align:top;" data-ng-hide="clipcopy">
            <span style="font-size:xx-small;">#</span>
          </th>
          <th style="width:19%" data-ng-click="koodiOrderReverse=!(koodiOrder=='arvo'?koodiOrderReverse:true); koodiOrder='arvo'">
            <span title="{{i18n.codeisnumber[koodistoonkonumero][lang]}}">{{i18n.table.column.code[lang]}}</span>
            <span class="fa fa-sort-down" data-ng-if="koodiOrder=='arvo' && !(koodiOrderReverse)"></span>
            <span class="fa fa-sort-up" data-ng-if="koodiOrder=='arvo' && (koodiOrderReverse)"></span>
          </th>
          <th style="width:50%" data-ng-click="koodiOrderReverse=!(koodiOrder=='selite'?koodiOrderReverse:true); koodiOrder='selite'">
            {{i18n.table.column.label[lang]}}
            <span class="fa fa-sort-down" data-ng-if="koodiOrder=='selite' && !(koodiOrderReverse)"></span>
            <span class="fa fa-sort-up" data-ng-if="koodiOrder=='selite' && (koodiOrderReverse)"></span>
          </th>
          <th style="width:15%" class="hidden-xs" data-ng-click="koodiOrderReverse=!(koodiOrder=='alku'?koodiOrderReverse:true); koodiOrder='alku'">
            {{i18n.table.column.start[lang]}}
            <span class="fa fa-sort-down" data-ng-if="koodiOrder=='alku' && !(koodiOrderReverse)"></span>
            <span class="fa fa-sort-up" data-ng-if="koodiOrder=='alku' && (koodiOrderReverse)"></span>
          </th>
          <th style="width:15%" class="hidden-xs" data-ng-click="koodiOrderReverse=!(koodiOrder=='loppu'?koodiOrderReverse:true); koodiOrder='loppu'">
            {{i18n.table.column.end[lang]}}
            <span class="fa fa-sort-down" data-ng-if="koodiOrder=='loppu' && !(koodiOrderReverse)"></span>
            <span class="fa fa-sort-up" data-ng-if="koodiOrder=='loppu' && (koodiOrderReverse)"></span>
          </th>
        </tr>
        <tr class="color2" data-ng-hide="clipcopy">
          <td data-ng-hide="clipcopy"></td>
          <td><input type="text" class="form-control input-sm" data-ng-model="search['arvo']"></td>
          <td><input type="text" class="form-control input-sm" data-ng-model="search['selite'][lang]"></td>
          <td class="hidden-xs"><input type="text" class="form-control input-sm" data-ng-model="search['alku']"></td>
          <td class="hidden-xs"><input type="text" class="form-control input-sm" data-ng-model="search['loppu']"></td>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="o in koodit | regex:search | orderBy:koodiOrder:koodiOrderReverse">
          <td class="color2" data-ng-hide="clipcopy"><span style="font-size:xx-small;">{{$index+1}}</span></td>
          <td>{{o.arvo}}<span data-ng-hide="clipcopy">
            <a data-ng-href="{{o.koodiUri}}" style="text-decorations:none;" target="_blank"><span style="font-size:0.75em;" class="fa fa-external-link"></span></a>
          </span></td>
          <td>{{o.selite[lang]}}<span data-ng-hide="clipcopy">
            <span class="glyphicon glyphicon-info-sign" title="{{o.kuvaus[lang]}}" data-ng-show="'{{o.kuvaus[lang]}}'!=''"></span>
          </span></td>
          <td class="hidden-xs">{{o.alku}}</td>
          <td class="hidden-xs">{{o.loppu}}</td>
        </tr>
      </tbody>
    </table></span>
  </div>
  <div class="col-xs-12 text-center"><span class="fa fa-cog fa-spin fa-5x" data-ng-show="koodistoLataa"></span></div>
</div>

<div class="row">
  <div class="col-sm-4 hidden-xs text-left">
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <span class="color3">&copy; <a href="//rapida.fi">Rapida</a> 2018</span>
  </div>
  <div class="col-sm-4 hidden-xs text-right">
  </div>
</div>

<script src="js/clipboard.js"></script>
</body>
</html>
