.copyhilite {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid lightblue;
}
#copyon:hover ~ #copyarea > .copyhilite {
  border: 1px solid rgba(84,241,254,1);
  box-shadow:0 0 40px rgba(107,243,254,1);
}
