<!DOCTYPE html>
<html data-ng-app="koodiApp" data-ng-controller="koodiController">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- build:js js/vendor-a.js -->
<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/angular-route/angular-route.min.js"></script>
<!-- endbuild -->
<!-- build:js js/vendor-b.js -->
<script src="../node_modules/ui-select/dist/select.min.js"></script>
<script src="../node_modules/clipboard/dist/clipboard.min.js"></script>
<script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<!-- endbuild -->
<!-- build:css css/vendor-a.css -->
<link rel="stylesheet" href="../node_modules/bootstrap-css-only/css/bootstrap.min.css">
<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
<!-- endbuild -->
<!-- build:css css/vendor-b.css -->
<link rel="stylesheet" href="../node_modules/ui-select/dist/select.min.css">
<!-- endbuild -->

<!-- dev --><link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"><!-- enddev -->
<!-- mustache <link rel="stylesheet" href="css/fonts.css"> end mustache -->
<link rel="stylesheet" href="css/rapida.css">
<link rel="stylesheet" href="css/clipboard.css">

<script src="js/utils.js"></script>
<script src="js/thl.controller.js"></script>

<title>Koodistot</title>
</head>
<body class="container-fluid">

<div class="row">
  <div class="col-xs-8">
    <h3>Koodistot Kela/THL</h3>
    <p>
    <a href="http://www.thl.fi/koodistopalvelu">Lähde</a>,
    <a href="http://koodistopalvelu.kanta.fi/codeserver/ws">tekninen lähde</a>
    </p>
  </div>
  <div class="col-xs-4 text-right">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-7">
    <form>
      <ui-select data-ng-model="koodistot.selected" on-select="useKoodisto($select.selected.arvo)"
                 theme="bootstrap" style="min-width: 300px; max-width: 100%;">
        <ui-select-match class="ui-select-match" placeholder="Etsi koodistoa">
          {{ $select.selected.selite }}
          <span class="fa fa-spinner fa-spin" data-ng-show="koodistoLataa"></span>
        </ui-select-match>
        <ui-select-choices repeat="o in koodistot | filter: $select.search">
          {{ o.selite }}
        </ui-select-choices>
      </ui-select>
    </form>
  </div>
  <div class="hidden-xs col-xs-12 col-md-5">
    <!--
    Koodistoja {{koodistolkm}} kpl (<a data-ng-click="fetchKoodistot()">lataa uudelleen</a>)
    <br>
    Valittu koodisto: koodien lkm={{koodistokoodilkm}} koodiarvot {{koodistoonkonumero}}
    -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="col-sm-1 hidden-xs" id="copyon">
      <button class="clip" data-clipboard-target="#copyarea"
        data-popover-trigger="'mouseenter'" data-popover-placement="right" data-uib-popover="Kopioi taulukko leikepöydälle"
        data-tooltip-trigger="'focus'" data-tooltip-placement="top" data-uib-tooltip="Kopioitu!"
        data-ng-click="clipcopy=true" data-ng-mouseleave="clipcopy=false">
        <span class="glyphicon glyphicon-copy"></span>
      </button>
    </div>
    <div class="col-sm-11 hidden-xs">
      <input type="text" id="copyuri" value="{{baseuri}}{{query}}{{toURIParam(search)}}" class="col-xs-9 col-lg-8">
      <button class="clip" data-clipboard-target="#copyuri"
        data-popover-trigger="'mouseenter'" data-popover-placement="right" data-uib-popover="Kopioi URI"
        data-tooltip-trigger="'focus'" data-tooltip-placement="top" data-uib-tooltip="Kopioitu!" data-tooltip-popup-close-delay="900">
        <span class="glyphicon glyphicon-copy"></span>
      </button>
      <a href="#" data-ng-href="{{baseuri}}{{query}}{{toURIParam(search)}}"><span class="fa fa-external-link"></span></a>
    </div>
    <!-- ei uutta row:ta, tai edes col:ia jotta taulukko on sisaruksena kopiointipainikkeelle! uusi div tiputtaa uudeksi riviksi -->
    <span id="copyarea"><table style="width:96%" class="table table-striped table-condensed copyhilite">
      <thead>
        <tr class="color2">
          <th style="width:1%; vertical-align:top;" data-ng-hide="clipcopy">
            <span style="font-size:xx-small;">#</span>
          </th>
          <th style="width:19%" data-ng-click="koodiOrderReverse=!(koodiOrder=='arvo'?koodiOrderReverse:true); koodiOrder='arvo'">
            Koodi
            <span class="fa fa-sort-down" data-ng-if="koodiOrder=='arvo' && !(koodiOrderReverse)"></span>
            <span class="fa fa-sort-up" data-ng-if="koodiOrder=='arvo' && (koodiOrderReverse)"></span>
          </th>
          <th style="width:50%" data-ng-click="koodiOrderReverse=!(koodiOrder=='selite'?koodiOrderReverse:true); koodiOrder='selite'">
            Selite
            <span class="fa fa-sort-down" data-ng-if="koodiOrder=='selite' && !(koodiOrderReverse)"></span>
            <span class="fa fa-sort-up" data-ng-if="koodiOrder=='selite' && (koodiOrderReverse)"></span>
          </th>
          <th style="width:15%" class="hidden-xs" data-ng-click="koodiOrderReverse=!(koodiOrder=='alku'?koodiOrderReverse:true); koodiOrder='alku'">
            Alku
            <span class="fa fa-sort-down" data-ng-if="koodiOrder=='alku' && !(koodiOrderReverse)"></span>
            <span class="fa fa-sort-up" data-ng-if="koodiOrder=='alku' && (koodiOrderReverse)"></span>
          </th>
          <th style="width:15%" class="hidden-xs" data-ng-click="koodiOrderReverse=!(koodiOrder=='loppu'?koodiOrderReverse:true); koodiOrder='loppu'">
            Loppu
            <span class="fa fa-sort-down" data-ng-if="koodiOrder=='loppu' && !(koodiOrderReverse)"></span>
            <span class="fa fa-sort-up" data-ng-if="koodiOrder=='loppu' && (koodiOrderReverse)"></span>
          </th>
        </tr>
        <tr class="color2" data-ng-hide="clipcopy">
          <td data-ng-hide="clipcopy"></td>
          <td><input type="text" class="form-control input-sm" data-ng-model="search['arvo']"></td>
          <td><input type="text" class="form-control input-sm" data-ng-model="search['selite']"></td>
          <td class="hidden-xs"><input type="text" class="form-control input-sm" data-ng-model="search['alku']"></td>
          <td class="hidden-xs"><input type="text" class="form-control input-sm" data-ng-model="search['loppu']"></td>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="o in koodit | regex:search | orderBy:koodiOrder:koodiOrderReverse">
          <td class="color2" data-ng-hide="clipcopy"><span style="font-size:xx-small;">{{$index+1}}</span></td>
          <td>{{o.arvo}}</td>
          <td>{{o.selite}}<span data-ng-hide="clipcopy">
            <span class="glyphicon glyphicon-info-sign" title="{{o.kuvaus}}" data-ng-show="'{{o.kuvaus}}'!=''"></span>
          </span></td>
          <td class="hidden-xs">{{o.alku}}</td>
          <td class="hidden-xs">{{o.loppu}}</td>
        </tr>
      </tbody>
    </table></span>
  </div>
  <div class="col-xs-12 text-center"><span class="fa fa-cog fa-spin fa-5x" data-ng-show="koodistoLataa"></span></div>
</div>

<div class="row">
  <div class="col-sm-4 hidden-xs text-left">
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <span class="color3">&copy; <a href="//rapida.fi">Rapida</a> 2017</span>
  </div>
  <div class="col-sm-4 hidden-xs text-right">
  </div>
</div>

<script src="js/clipboard.js"></script>
</body>
</html>
